.container {
    color: #252850
}

.card-body {
    background-color: #bed8f3;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.card-header, .card-footer {
    background-color: #5D76CB;
    font-family: 'Times New Roman', Times, serif;
}

#surnameOutput {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

#generation.btn.btn-success {
    margin-right: 10px;
}

#clear.btn.btn-danger {
    margin-left: 10px;
}

.hidden {
    display: none;
}